# Alpaca API Credentials (Paper or Live)
ALPACA_API_KEY=your_api_key_here
ALPACA_SECRET_KEY=your_api_secret_here

# Alpaca API URL
# Paper Trading: https://paper-api.alpaca.markets
# Live Trading:  https://api.alpaca.markets
ALPACA_BASE_URL=https://paper-api.alpaca.markets


# Asset Mapping
TICKER_3X=SPXL
TICKER_SIGNAL=VOO
TICKER_CASH=SGOV

# Strategy Settings
MIN_REMAINING_BALANCE=20
MIN_ORDER_VALUE=20
STRATEGY_DNA=config/strategy.json
SCHEDULED_TIME=24:00